<!-- css available in stylesheets/partials/index -->

<%- link_to "https://au.linkedin.com/pub/jason-data/a1/b80/438" do %>
  <div class="index-title">
    <aside>
      <%= image_tag "face.jpg" %>
    </aside>
    <div class="title-heading"><p class="name-brand">Jason Data</p><p>Web Developer</p>
    </div>
  </div>
<% end %>

<table>
  <tr class="contact-info">
    <td class="name-col">
      github:
    </td>
    <td class="link-col">
      <%= link_to "JasonDataIO", "https://github.com/JasonDataIO" %>
    </td>
  </tr> 
  <tr class="contact-info">
    <td class="name-col">
      twitter:
    </td>
    <td class="link-col">
      <%= link_to "@Jason_Data", "http://twitter.com/Jason_Data" %>
    </td>
  </tr> 
  <tr class="contact-info">
    <td class="name-col">
      email:
    </td>
    <td class="link-col">
      <%= link_to "jason.data@roadbytes.me", "mailto: jason.data@roadbytes.me" %>
    </td>
  </tr>
  <tr class="contact-info">
    <td class="name-col">
      professional:
    </td>
    <td class="link-col">
      <%= link_to "linkedin", "https://au.linkedin.com/pub/jason-data/a1/b80/438" %>
    </td>
  </tr> 
</table>
